{%extends 'base.html'%}
{%load static%}
{%block body_block%}

<div class="container-fluid">
    <div class="row mt-3">

        <!--        POSTS-->
        <div class="col-lg-2"></div>

        <div class="col-lg-8">
            {%for blog in blogs%}
            <div class="my-5">
                <div class="row g-0 border">

                    <!--                    POST IMAGE-->
                    <div class="col-lg-5">
                        <img src="{{blog.image.url}}" alt="..." class="img-fluid" style="width: 100%; height:350px;">
                    </div>

                    <!--                    POST CONTENT-->
                    <div class="col-lg-7 px-3">
                        <div class="px-3">
                            <div class="pt-4 d-flex">
                                <div class="flex-shrink-0">
                                    <img src="{{blog.author.users.profile_pic.url}}" width="40px"
                                         class="img-fluid rounded-circle" alt="">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <p class="d-inline text-uppercase">{{blog.author}}</p>
                                    <p class="text-muted d-block">{{blog.posted_date}}</p>
                                </div>
                            </div>

                            <div>
                                <div class="text-uppercase my-3">
                                    <h3 class="font-monospace">{{blog.title}}</h3>
                                </div>
                                <div>
                                    <p style="font-family: vardana;">{{blog.description}}</p>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <!--                        LIKES-->
                        <div class="row px-3">
                            <div class="col-6">
                                {%for likes in blog.get_liked_users|slice:":2"%}
                                <small style="margin-bottom: 2px;">{{likes}}</small>
                                {%endfor%} {%if blog.get_liked_users%}<small>and others</small>{%endif%}
                                <br>
                                <a href="{% url 'add-like' blog.id %}"><i class="fa-solid fa-thumbs-up"></i></a>
                                {{blog.get_like_count}}
                            </div>

                            <!--                                COMMENTS-->
                            <div class="col-6 mt-3">
                                <form action="{%url 'add-comment' blog.id%}" method="post">
                                    {%csrf_token%}
                                    <input type="text" name="comment" placeholder="Comment" style="border: none">
                                    <hr style="margin: 0; opacity: 0.7;" class="w-75">
                                    <input type="submit" value="sent" class="mt-1">
                                </form>
                                {%for comment in blog.comments_set.all%}
                                <div>
                                    {{comment.user}}:
                                    {{comment.comment}}
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}

        </div>


        <div class="col-lg-2"></div>
    </div>
</div>

{%endblock%}