{%extends 'base.html'%}
{%load static%}
{%block body_block%}

<!--CARAOUSAL STARTING-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{%static 'assets/landing.webp'%}" class="d-block w-100" alt="..." style="height: 85vh;">
            <div class="carousel-caption">
                <h2 class="user-welcome">Welcome <span class="username-welcome">{{request.user}}</span></h2>
                <blockquote class="text-dark mt-4" style="font-family: georgia,sans-serif;">" Don’t focus on having a
                    great blog. Focus on
                    producing a blog that’s great for your readers. "
                </blockquote>
                <p class="text-monospace text-dark">- <b>Brian Clark</b></p>
                <br>

                <!-- CREATE POST-->
                <button type="button" class="btn btn-outline-primary " data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                    CREATE POST
                </button>


                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-dark text-uppercase" id="exampleModalLabel"><b>Create your
                                    blog</b></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-dark text-start">
                                <form action="" method="post" enctype="multipart/form-data">
                                    {%csrf_token%}
                                    {{form.as_p}}
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-secondary">POST</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--CARASOUL END-->


<div class="container-lg">
    <div class="row mt-5 mx-lg-5">
        <div class="col-md-2"></div>

        <!-- BLOGS-->
        <div class="col-md-8">
            {%for blog in blogs|slice:":3"%}
            <div class="card mb-3">

                <!-- AUTHOR IMAGE , NAME , POSTED DATE-->
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 px-2 pt-2 ms-3">
                        <img src="{{blog.author.users.profile_pic.url}}"
                             class="img-fluid" alt="" style="height: 40px; width: 40px; border-radius: 50px;">
                    </div>

                    <div class="flex-grow-1 ms-3 mt-3">
                        <p class="d-inline text-uppercase">{{blog.author}}</p>
                        <p class="text-muted d-block">{{blog.posted_date}}</p>
                    </div>
                </div>

                <!--   BLOG IMAGE AND CONTENT-->
                <img src="{{blog.image.url}}" class="card-img-top px-1" alt="..." style="height: 400px;">
                <div class="card-body  text-center mt-2">
                    <h4 class="card-title text-uppercase font-monospace">{{blog.title}}</h4>
                    <p class="card-text" style="font-family: vardana;">{{blog.description}}</p>
                </div>
                <hr>

                <!--  LIKES    -->
                <div class="d-flex justify-content-around">
                    <div style="margin-top: -14px;">
                        {%for likes in blog.get_liked_users|slice:":2"%}
                        <small style="margin-bottom: 2px;">{{likes}}</small>
                        {%endfor%}{%if blog.get_liked_users%}<small>and others</small>{%endif%}
                        <br>
                        <a href="{% url 'add-like' blog.id %}"><i class="fa-solid fa-thumbs-up"></i></a>
                        {{blog.get_like_count}}
                    </div>

                    <!--  COMMENTS-->
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne" style="margin-top: -3px;">
                                    <i class="fa-solid fa-comment text-primary"></i>
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    {%for comment in blog.comments_set.all%}
                                    <div class="d-flex ">
                                        <div class="flex-shrink-0">
                                            <img src="{{comment.user.users.profile_pic.url}}" alt="..." style="width: 20px; height: 20px; border-radius: 50%;">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                           <p>{{comment.user}} - <small>{{comment.comment}}</small></p>
                                        </div>
                                    </div>
                                    {%endfor%}

                                    <form action="{%url 'add-comment' blog.id%}" method="post">
                                        {%csrf_token%}
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="comment" name="comment"
                                                   aria-label="Recipient's username" aria-describedby="button-addon2">
                                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                                                Sent
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
            <div class="col-md-2"></div>
        </div>

        <!--  VIEW ALL POST BUTTON-->
        <div class="text-center my-5">
            <button class="all_post_button" type="button"><a href="{%url 'all-blogs'%}">view all posts</a>
            </button>
        </div>
    </div>
</div>

{%endblock%}


