{%extends 'base.html'%}
{%block body_block%}


<div class="container-md">
    <div class="row justify-content-center my-5">
        <div class="col-lg-3 col-md-4 col-5">
            <div class="ps-lg-4">
                <img src="{{request.user.users.profile_pic.url}}" alt="profile picture" class="img-fluid" style="width:200px;
                    height:200px;
                    border-radius:50%;">
            </div>
        </div>

        <div class="col-lg-6 col-md-8 col-7 mt-4 ">
            <div>
                <h3 style="font-family: Georgia,sans-serif;">{{request.user}}<a
                        href="{%url 'profile-update' request.user.users.id%}"
                        class="card-link update-profile ms-4">Update profile</a></h3>
            </div>


            <div class="mt-4">
                <!--FOLLOWINGS-->
                <!-- Button trigger modal -->
                <button type="button" class="button-outline me-sm-3" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                    <span>{{request.user.users.fetch_followings_count}}</span> followings
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Followings</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <ul style="list-style: none;">
                                    {%for user in request.user.users.fetch_followings%}
                                    <li style="line-height: 3; word-spacing: 10px">
                                        <img src="{{user.users.profile_pic.url}}" width="30px"
                                             class="rounded-circle" alt="">
                                        {{user}}
                                    </li>
                                    {%endfor%}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- FOLLOWERS-->
                <!-- Button trigger modal -->
                <button type="button" class="button-outline me-sm-3" data-bs-toggle="modal"
                        data-bs-target="#followers">
                    <span>{{request.user.users.get_followers_count}} </span> Followers
                </button>

                <!-- Modal -->
                <div class="modal fade" id="followers" tabindex="-1" aria-labelledby="followers-Modal-Label"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="followers-Modal-Label">Followers</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <ul style="list-style: none;">
                                    {%if request.user.users.get_followers%}
                                    {%for user in request.user.users.get_followers%}
                                    <li style="line-height: 3;">
                                        <img src="{{user.profile_pic.url}}" width="30px"
                                             class="rounded-circle mx-2" alt="">
                                        {{user.user}}
                                    </li>
                                    {%endfor%}
                                    {%endif%}

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>


                <!-- SUGGETIONS-->
                <!-- Button trigger modal -->
                <button type="button" class="button-outline me-sm-3" data-bs-toggle="modal"
                        data-bs-target="#example-Modal">
                    Suggestions
                </button>

                <!-- Modal -->
                <div class="modal fade" id="example-Modal" tabindex="-1" aria-labelledby="example-Modal-Label"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="example-Modal-Label">Suggetions</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <ul style="list-style: none;">
                                    {%if request.user.users.get_invitations%}
                                    {%for user in request.user.users.get_invitations%}
                                    <li style="line-height: 3;">
                                        <img src="{{user.users.profile_pic.url}}" width="30px"
                                             class="rounded-circle mx-2" alt="">
                                        {{user.username}}
                                        <a href="{%url 'do-follow' user.id%}" class="follow-button">Follow</a>
                                    </li>
                                    {%endfor%}
                                    {%endif%}
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <p style="font-family: georgia,sans-serif;">{{request.user.first_name}} {{request.user.last_name}}</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-0"></div>
    </div>


    <!--CURRENT USER POSTS-->
    <div class="row mt-5">
        {%for blog in blogs%}
        <div class="col-sm-4 d-flex justify-content-center py-4">
            <div class="card" style="width: 18rem;">
                <img src="{{blog.image.url}}" class="card-img-top" alt="..." style="height: 250px">
                <div class="card-body">
                    <h5 class="card-title text-monospace text-capitalize">{{blog.title}}</h5>
                    <p class="card-text text-monospace">{{blog.description}}</p>
                    <p class="text-muted date-time">{{blog.posted_date}}</p>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>

{%endblock%}