.reg-log{
background-image: url('/static/assets/regimage.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.signup{
background-color: #74EBD5;
background-image: linear-gradient(90deg, #74EBD5 28%, #9FACE6 63%);
height: 100%;
}
.file_label{
background-color: white;
cursor: pointer;
border: 2px solid black;
}
.file_label:hover{
background-color: #ececec;
box-shadow: 2px 2px 5px #0f6c8a;
}
.user-welcome{
color: #ffb5c2;
margin-top: -450px;
text-transform: uppercase;
font-weight: lighter;
letter-spacing: 8px;
}
.username-welcome{
color: #ff2424;
}



.update-profile{
text-decoration: none;
border: 1px solid black;
padding: 7px;
text-transform: capitalize;
font-size: small;
color: black;
border-radius: 5px;
}

.followings-list{
list-style: none;
}

.follow-button{
text-decoration: none;
border: 1px solid black;
border-radius: 4px;
padding: 0px 5px;
margin-left: 12px;
}

.date-time{
margin: 0;
font-size: x-small;
}

.usefull-links{
display: flex;
justify-content: center;
margin-top: 40px;
}

.usefull-links a{
font-size: 15px;
text-decoration: none;
color: #ffffff;
text-transform: capitalize;
line-height: 1;
font-family: Monospace;
line-height: 2;
}

.usefull-links h5{
color: #fff;
text-transform: uppercase;
padding-bottom: 15px;
font-family: Georgia,sans-serif;
}

.connect-with{
list-style: none;
display: flex;
justify-content: center;
margin-top: 120px;
}

.copyright{
display: flex;
justify-content: center;
margin-top: 120px;
}
.copyright p{
color: #fff;
font-size: 18px;
font-family: Monospace;
text-transform: capitalize;
}

.button-outline{
padding: 0;
border: none;
background: none;
text-transform: capitalize;
font-family: Georgia,sans-serif;
}

.all_post_button{
background-color: #000000;
border: none;
width: 33%;
height: 7vh;
}

.all_post_button a{
color: white;
text-decoration: none;
font-size: 13px;
font-family: georgia,sans-serif;
text-transform: capitalize;
}

.all_post_button a:hover {
color: #fff;
}

